[Unit]
Description=ABLS Agent Audio (%i)
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/abls-agent-audio --agent-tech-id %i
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
