[Unit]
Description=ABLS Agent Audio (%i)
Wants=wireplumber.service
After=wireplumber.service

[Service]
Type=simple
ExecStart=/usr/bin/abls-agent-audio --agent-tech-id %i
StateDirectory=abls-agent-audio/%i
WorkingDirectory=%S/abls-agent-audio/%i
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=default.target
